body {
    background-color: #1b1b1b;
}

div {
    padding: 100px;
}

.center {
    text-align: center;
}

.font1 {
    font-family:'Century Gothic', Courier, monospace;
    font-weight: normal;
    color: rgb(255, 191, 0);
}