
@font-face {
    font-family: "Montserrat";
    src: url("assets/Montserrat-Medium.tff") format("truetype"),
         url("assets/Montserrat-Medium.woff") format("woff"),
         url("assets/Montserrat-Medium.woff2") format("woff2");
}

body {
    background-color: rgb(25, 25, 30);
    color: white;
    cursor: default;
    font-family: "Montserrat", Fallback, sans-serif;
    font-weight: normal;
    text-align: center;
}

p {
    color: white;
    padding-top: 0px;
}
p:hover {
    font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
    border: none;
    padding-top: 30px;
    }


.warning-header {
    border-bottom: 2px solid white;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 60px;
    color: rgb(255, 0, 85);
    padding-bottom: 25px;
}
.warning-header:hover {
    font-weight: bold;
}
